/*
 KULLANILACAK FONT KODU: 
font-family: 'Rubik', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.left-section{
    float: left;
}



.right-section{
    float: right;
}



